<nav class="navbar navbar-expand-lg navbar-light bg-muted">

    <img  class="navbar-brand" type="button" routerLink="" src="./assets/fav.png" alt="fotito" style="padding-left: 1%;">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a class="navbar-brand" routerLink="">Home</a>
            <a class="nav-link" routerLink="login">Login</a>
            
            <a class="nav-link" *ngIf="userLogged|async as user" routerLink="juegos">Juegos</a>
            <a class="nav-link disabled" *ngIf="!(userLogged|async) as user" routerLink="juegos">Juegos</a>

            <a class="nav-link" routerLink="quienSoy">Quien soy?</a>

        </ul>
    </div>

    <a class="navbar-brand" *ngIf="userLogged|async as user">
        {{user.email}}
        <button (click)="LogOut()">Log Out</button>
    </a>
    

      
</nav>