<nav class="navbar navbar-expand-lg navbar-light bg-muted">

    <img  class="navbar-brand" type="button" routerLink="" src="./assets/fav.png" alt="fotito" style="padding-left: 1%;">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="juegos">Juegos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="quienSoy">Quien soy?</a>
            </li>
        </ul>
    </div>

    
</nav>