<div class="parent">
  <div class="div1">
    <div class="card">
      <div class="card-header">
        <h3>Lista de Juegos</h3>
        <label *ngIf="this.juegoSeleccionado != 'Ahorcado' ">
          <button class="ahorcado" (click)="abrirAhorcado()" type="submit" id="ahorcado"
            value="Ahorcado">Ahorcado</button>
        </label>
        <label *ngIf="this.juegoSeleccionado != 'MayorMenor' ">
          <button class="mayorMenor" (click)="abrirMayorMenor()" type="submit" id="mayorMenor"
            value="Mayor o Menor">Mayor o Menor</button>
        </label>
        <label *ngIf="this.juegoSeleccionado != 'Preguntados' ">
          <button class="preguntados" (click)="abrirPreguntados()" type="submit" id="preguntados"
            value="Preguntados">Preguntados</button>
        </label>
        <label *ngIf="this.juegoSeleccionado != 'Propio' ">
          <button class="propio" (click)="abrirPropio()" type="submit" id="propio" value="Propio">Propio</button>
        </label>
        <label *ngIf="this.juegoSeleccionado != 'Ninguno' ">
          <button class="salir" (click)="cerrarJuego()" type="button" id="cerrar" value="cerrar">Cerrar Juego</button>
        </label>
      </div>


    </div>
    <div class="card-body">
      <div class="div2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>



  <div class="div3">
    <app-chat></app-chat>
  </div>
</div>