<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="parent">
                <div class="div1"><p>Alumno: Juan Luca Mariani</p><p>Division: 4º A</p>

                </div>
                <br>
                <img class="div2" src="./assets/foto_usuario.jpg" width="150" height="150">
                <div class="div3">
                    <p>El juego creado por mi que se encuentra en esta web es 14 Puntos.
                    </p>
                    <p>Este consiste en hacer la mayor cantidad de puntos posibles para sumar a tus estadisticas, en
                        lo que dura la partida.

                    </p>
                    <p>Con una contra, y es que si no llegas a los 14 puntos en la duracion del juego, se restaran 2
                        puntos de tus estadisticas.
                    </p>
                    <p> Añadido a esto la pelota roja se mueve cada 1 segundo de lugar y tambien cada vez que sumas 1
                        punto.</p>
                </div>


            </div>
        </div>
    </div>
</div>