

<div class="colm-form">
    <div class="form-container">

        <input name='email' type="email" placeholder="Email" [(ngModel)]="usuario.email">
        <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.password">

        <button class="btn-login" (click)="Login()">Login</button>

        <a routerLink="aa">Olvide mi contraseña</a>

        <button class="btn-new" (click)="Register()">Registrar nueva cuenta</button>

        <button class="btn-new" (click)="ObtenerUsuariologeado()">Usuario Logeado</button>
        <button class="btn-new" (click)="LogOut()">Log Out</button>
    </div>
</div>


