<div class="card">
    
    <div class="card-body fondo" *ngIf="this.contador.min >= 0 && this.contador.sec > 0; else elseBlock">
        <h5 class="card-title">Nombre Juego</h5>
        <div *ngIf="!this.jugando; else elseJugando"> 
            <div class="centrar">
                <div class="cuadro">
                  <label class="numero">Perdiste!</label>
                </div>
              </div>
              <div class="centrar">
                <button class="boton2 grande" (click)="reiniciarJuego()" type="submit" id="propio" value="Propio">Jugar de nuevo</button>
              </div>
        </div>
        <ng-template #elseJugando>
            <div class="parent">
                <div class="div1">
                    <p>
                        <button class="boton" (click)="espada()"><img src="../../.././../assets/iconos/Sword.png"
                                width="40px" height="40px"> </button>
                    </p>
                    <p>
                        <button class="boton" (click)="escudo()"><img src="../../.././../assets/iconos/ShieldT2.png"
                                width="40px" height="40px"> </button>
                    </p>
    
                </div>
                <div class="div2">22</div>
    
                <div class="div3" (click)="hola()">
                    <img src="../../.././../assets/caballero/{{this.nombreSprite}}.gif" width="480px" height="300px">
                </div>
                <div class="div4">44444 </div>
                <div class="div5">55555 </div>
                <div class="div6">
                </div>
            </div>
        </ng-template>
        
    </div>
    <ng-template #elseBlock>

    </ng-template>
</div>