<lib-toastify-toast-container 
[position]= "'top-right'"
[transition]= "'bounce'" 
[autoClose]= "3000" 
[hideProgressBar]= "true"
[newestOnTop]= "false"  
[closeOnClick]= "true" 
[pauseOnHover]= "true" 
[pauseOnVisibilityChange]= "true" 
[iconLibrary]= "'none'" 
></lib-toastify-toast-container>

<div class="card">
    <div class="card-body">

    
    <h5 class="card-title">14 Puntos</h5>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p class="card-text">Para sumar puntos tienes que hacer click en el circulo rojo. Si no llegas a sumar 14 puntos dentro del tiempo limite, se te restaran 2 puntos.</p>
            </div>
            <div class="col" style="text-align: right ;">
                <p>Puntos: {{this.puntosJuego}}</p>
            </div>
            <div class="col">
                <p>Puntos Totales: {{this.usuarioDatos?.Propio}}</p>
            </div>
        </div>
    </div>

    <div class="centrar">
        <div class="divJuego">

            <div class="contenedor">
                <div id="player" (click)="sumarPuntos()"></div>
            </div>
        </div>
        <div class="divPuntaje">
            <span id="tiempo">Tiempo:{{this.tiempo}}</span>
            <div *ngIf="!estaJugando"><button type="button" id="boton2" (click)="comenzarJuego()">Jugar</button></div>
            
        </div>
    </div>
</div>
</div>