<div class="colm-form">
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="encuestaForm">
            <div class="row">
                <div class="col mb-4">
                    <h2>Encuesta</h2>
                </div>
            </div>
            <div class="row formulario">
                <div class="col-md-3 mb-4">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre" required
                        formControlName="nombre" [(ngModel)]="usuarioDatos.nombre">
                    <small
                        *ngIf="encuestaForm.get('nombre')?.touched && encuestaForm.get('nombre')?.errors?.['required']"
                        class="invalid">El nombre es requerido</small>
                    <small
                        *ngIf="encuestaForm.get('nombre')?.touched && encuestaForm.get('nombre')?.errors?.['minlength']"
                        class="invalid">El nombre tiene que ser mas largo.</small>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" required
                        formControlName="apellido" [(ngModel)]="usuarioDatos.apellido">
                    <small
                        *ngIf="encuestaForm.get('apellido')?.touched && encuestaForm.get('apellido')?.errors?.['required']"
                        class="invalid">El apellido es requerido</small>
                    <small
                        *ngIf="encuestaForm.get('apellido')?.touched && encuestaForm.get('apellido')?.errors?.['minlength']"
                        class="invalid">El apellido tiene que ser mas largo.</small>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="dni" class="form-label">Edad</label>
                    <input type="number" class="form-control" id="edad" placeholder="Ingrese edad" required
                        formControlName="edad" [(ngModel)]="usuarioDatos.edad">
                    <small *ngIf="encuestaForm.get('edad')?.touched && encuestaForm.get('edad')?.errors?.['required']"
                        class="invalid">La edad es requerida.</small>
                    <small *ngIf="encuestaForm.get('edad')?.touched && encuestaForm.get('edad')?.errors?.['min']"
                        class="invalid">La edad tiene que ser mayor a 18 años.</small>
                    <small *ngIf="encuestaForm.get('edad')?.touched && encuestaForm.get('edad')?.errors?.['max']"
                        class="invalid">La edad tiene que ser menor a 99 años.</small>
                </div>

                <div class="col-md-8 align-self-center mb-3">



                    <label for="pregunta1" class="form-label">Pregunta 1</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            formControlName="pregunta1">
                        A
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            formControlName="pregunta1">
                        B
                    </div>

                    <small
                        *ngIf="encuestaForm.get('pregunta1')?.touched && encuestaForm.get('pregunta1')?.errors?.['required']"
                        class="invalid">La pregunta1 es requerida.</small>
                    <small
                        *ngIf="encuestaForm.get('pregunta1')?.touched && encuestaForm.get('pregunta1')?.errors?.['min']"
                        class="invalid">La pregunta1 tiene que ser mayor a 18 años.</small>
                    <small
                        *ngIf="encuestaForm.get('pregunta1')?.touched && encuestaForm.get('pregunta1')?.errors?.['max']"
                        class="invalid">La pregunta1 tiene que ser menor a 99 años.</small>
                </div>

                <div class="col-md-8 align-self-center mb-3">
                    <label for="dni" class="form-label">Pregunta 2</label>
                    <input type="number" class="form-control" id="pregunta2" placeholder="Ingrese pregunta2" required
                        formControlName="pregunta2">
                    <small
                        *ngIf="encuestaForm.get('pregunta2')?.touched && encuestaForm.get('pregunta2')?.errors?.['required']"
                        class="invalid">La pregunta2 es requerida.</small>
                    <small
                        *ngIf="encuestaForm.get('pregunta2')?.touched && encuestaForm.get('pregunta2')?.errors?.['min']"
                        class="invalid">La pregunta2 tiene que ser mayor a 18 años.</small>
                    <small
                        *ngIf="encuestaForm.get('pregunta2')?.touched && encuestaForm.get('pregunta2')?.errors?.['max']"
                        class="invalid">La pregunta2 tiene que ser menor a 99 años.</small>
                </div>

                <div class="col-md-8 align-self-center mb-3">
                    <label for="pregunta3" class="form-label">Pregunta 3</label>
                    <input type="number" class="form-control" id="pregunta3" placeholder="Ingrese pregunta3" required
                        formControlName="pregunta3">
                    <small
                        *ngIf="encuestaForm.get('pregunta3')?.touched && encuestaForm.get('pregunta3')?.errors?.['required']"
                        class="invalid">La pregunta3 es requerida.</small>
                    <small
                        *ngIf="encuestaForm.get('pregunta3')?.touched && encuestaForm.get('pregunta3')?.errors?.['min']"
                        class="invalid">La pregunta3 tiene que ser mayor a 18 años.</small>
                    <small
                        *ngIf="encuestaForm.get('pregunta3')?.touched && encuestaForm.get('pregunta3')?.errors?.['max']"
                        class="invalid">La pregunta3 tiene que ser menor a 99 años.</small>
                </div>





                <!-- 
                <div class="col-md-6 mb-3">
                    <label for="password2" class="form-label">Repita su Contraseña</label>
                    <input type="password" class="form-control" id="password2" placeholder="Repita su contraseña" required formControlName="password2">
                    <small *ngIf="encuestaForm.get('password2')?.touched && encuestaForm.get('password2')?.errors?.['required']" 
                    class="invalid">Es requerido que re ingrese la contraseña.</small>
                    
                    <small *ngIf="encuestaForm.get('password2')  encuestaForm.get('password2')?" 
                    class="invalid">Las contraseñas tienen que ser iguales</small>
                </div>  
                -->
            </div>
            <div class="row">
                <div class="col-md-12 d-grid gap-2">
                    <button [disabled]="encuestaForm.invalid" type="submit" class="btn btn-primary">
                        Registrarte </button>
                </div>
            </div>
        </form>
    </div>
</div>