* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
}

.colm-logo {
    flex: 0 0 50%;
    text-align: center;
}

.colm-logo h1 {
    font: 56px;
    font-weight: 800;
    line-height: 52px;
}

.foto {
  width:480px;
  aspect-ratio: 1200 / 560;
}
